{% extends 'base.html.twig' %}

{% block title %}Edit Chimpokomon{% endblock %}

{% block body %}
    <h1>Edit Chimpokomon</h1>

    {{ include('chimpokomon_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chimpokomon_crud_index') }}">back to list</a>

    {{ include('chimpokomon_crud/_delete_form.html.twig') }}
{% endblock %}
